<div id="msg-alert" class="alert alert-{{msg_type}} alert-dismissible fade show" role="alert">
  <strong>{{msg_head}}</strong>
  {{msg_body}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>